<main class="mt-5">
    <form method="POST" action="{{#if editMode}}/admin/edit-movie{{else}}/admin/add-movie{{/if}}">
        <div class="col-10 m-md-auto">
            <div class="card mb-5">
                <div class="card-header bg-secondary text-light">
                    <h4 class="text-center">{{#if editMode}}Actualizar{{else}}Registrar{{/if}} pelicula</h4>
                </div>
                <div class="card-body">
                    <div class="card-title">
                    <h4 class="text-center mb-4">Rellene todos los campos a continuación</h4>
                    </div>

                      <div class="mb-3">
                        <label for="title" class="form-label"><strong>Titulo</strong></label>
                        <input type="text" class="form-control" id="title" name="Title" value="{{#if editMode}}{{movie.title}}{{/if}}" />
                      </div>

                      <div class="mb-3">
                        <label for="gender" class="form-label"><strong>Género</strong></label>
                        <input type="text" class="form-control" id="gender" name="Gender" value="{{#if editMode}}{{movie.gender}}{{/if}}" />
                      </div>

                     <div class="mb-3">
                        <label for="image" class="form-label"><strong>Imagen URL</strong></label>
                        <input type="text" class="form-control" id="image" name="ImageUrl" value="{{#if editMode}}{{movie.imageUrl}}{{/if}}" />

                      </div>
                      
                      <div class="mb-3">
                          <label for="description" class="form-label"><strong>Descripción</strong></label>
                          <textarea class="form-control" rows="4" id="description" name="Description">{{#if editMode}}{{movie.description}}{{/if}}</textarea>
                      </div>
                      
                      {{#if editMode}}

                      <div class="mb-3">
                          <label for="status" class="form-label me-2"><strong>Estado:</strong></label>                          
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="Status" id="inlineRadio1" value="active" {{#if (IsEqual movie.status "active")}}checked{{/if}}>
                          <label class="form-check-label" for="inlineRadio1">Disponible</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="Status" id="inlineRadio2" value="disabled" {{#if (IsEqual movie.status "disabled")}}checked{{/if}}>
                          <label class="form-check-label" for="inlineRadio2">Agotada</label>
                        </div>

                      </div>

                        <input type="hidden" name="MovieId" value="{{movie.id}}">

                      {{/if}}
                      
                          <button type="submit" class="btn btn-secondary float-end mt-2">{{#if editMode}}Actualizar{{else}}Registrar{{/if}}</button>
                </div>
            </div>
        </div>           
    </form>  
    </div>
  </div>
</main> 